.colorschemes {
    /*sterile*/

    color: #ffffff;
    color: #00A8E8;
    color: #007EA7;
    color: #003459;
    color: #00171F;


    /*reversed order*/
    color: #F5F7D5;
    color: #F0F3BD;
    color: #BBBAC6;
    color: #B7CECE;
    color: #6E7E85;
    color: #1C0F13;

    /* icon color */
    color: #595053;
    
    color: #05668d;
    color: #028090;
    color: #00A896;
    color: #02c39a;
    color: #f0f3bd;
    
    
    color: #ffcdb2;
    color: #ffb4a2;
    color: #e5989b;
    color: #b5838d;
    color: #6d6875;
}