body {
    background-color: #00A8E8;
    color: #00171F;
}

h1 h2 h3 h4 h5 h6 {
    color: #00171F;
}
.about {
    background: white;
    color: #00171F;
    text-align: left;
    border: 1px solid white;
    border-radius: 2px;
}
.about-background {
    background:#00A8E8;
}
.blog-page {
    margin-top: 16px;
    text-align: center;
}
.article {
    color: #00171F;
    border-bottom: 1px solid #007EA7;
    padding-bottom: 0;
    padding-left: 1.5rem;
}
.article-title {
    color:rgb(2, 41, 54);
}
.article-date {
    text-align: right;
}

.article-tag {
    text-transform: lowercase;
}
.article-content {
    padding-top: 1rem;
    padding-left: 10px;
}
.editor {
    width: 800px;
    height: auto;
}
.navbar-container{
    padding: 0px;
}
.navbar {
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 2px;
}
.navbar-brand {
    padding-top: 16px;
    padding-left: 32px;
    padding-bottom: 16px;
    padding-right: 32px;
    margin-right: 32px;
}
.site-header .navbar-nav .nav-link {
    color: #00171F;
    margin-top: 3px;
    margin-right: 1rem;
}
.site-header .navbar-nav .nav-link:hover {
    color: #00A8E8;
}
.site-header .navbar-nav .nav-link.active {
    background: lightblue;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    margin-top: 20px;
}
.footer-body {
    position: relative;
    bottom: 0;
    border: 1px solid #00171F;
    border-radius: 3px; 
    padding-top: 16px;
    margin-top: 32px;
    background-color: #00171F;
    text-align: center;
    color: #B7CECE;
}

.footer-img {
    padding-top: 10px;
    max-width: 64px;
    max-height: 64px;
    min-width: 32px;
}
.footer-icons {
    padding-left: 32px;
}
/* thank you stackoverflow user Abel Raj
https://stackoverflow.com/questions/20003139/how-to-add-a-tooltip-for-an-icon-inside-my-css-file
*/
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltip:hover:after {
    visibility: visible;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    content: attr(title);
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}
  
.profile-img {
    max-width: 400px;
    height: auto;
    border:1px solid white;
    border-radius: 10px;
    margin-top: 2rem;
}
.border {
    border: 1px solid white;
    color: #595053;
}
.copyright-text{
    padding-bottom: 16px;
    color: rgb(205, 225, 233);
    text-align: center;
    white-space: nowrap;
}
.face {
    position: relative;
    top: 4px;
    padding-right: 5px;
}
.tolowercase {
    text-transform: lowercase;
}

/*Materials.io icon settings*/
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.md-dark { color: rgb(22, 70, 87); }
.material-icons.md-dark:hover { color: rgba(0, 126, 167, 1); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }