{% extends 'layout.html' %}
{% block banner %}
<!--disabled banner
    <img class='banner-img' src="{{ url_for('static', filename='images/home_banner.jpg') }}">
-->
{% endblock banner %}
{% block content %}
<div>
    <div class='content-section'>
        <h3>Contact</h3>
        <div>
            If you wish to get in touch, I can be reached at
            janne (at) jkerola.com.
            <br>
            You can also contact me via the contact form below.
        </div>
    </div>
    <div class='content-section'>
        <legend>Contact Form</legend>
        <form href="{{ url_for('main.contact') }}" method='POST'>
            {{ contact_form.hidden_tag() }}
            <fieldset class='form-group mt-2'>
                <div title='Name' class='form-group'>
                    {{ contact_form.name.label(class='form-control-label')}}
                    {{ contact_form.name(class='form-control')}}
                </div>
                <div title='Email' class='form-group'>
                    {{ contact_form.email.label(class='form-control-label')}}
                    {{ contact_form.email(class='form-control')}}
                </div>
                <div title='Subject' class='form-group'>
                    {{ contact_form.title.label(class='form-control-label')}}
                    {{ contact_form.title(class='form-control')}}
                </div>
                <div title='Message' class='form-group'>
                    {{ contact_form.content.label(class='form-control-label')}}
                    {{ contact_form.content(class='form-control')}}
                </div title='Send message'>
                {{ contact_form.submit(class='btn btn-primary') }}
            </fieldset>
        </form>
    </div>
</div>
<div style='height:50vh;'></div>
{% endblock content %}