{% extends 'layout.html' %}
{% block content %}
    {% for post in posts %}
        <div class='content-section'>
            <div class='article row'>
                <h2 class='article-title'>{{ post.title}}</h2>
                <p class='article-author ml-4 mt-2 mr-auto'>by Janne K</p>
                <p class='article-date text-muted'>{{ post.post_date.strftime('%b %d, %Y')}}</p>
            </div>
            <div class='article-content'>
                <p>{{ post.text }}</p>
            </div>
            <div class='article-footer'>
                <p class='muted-text article-tag'>
                    <i class='material-icons face muted-text'>local_offer</i>
                    {% for tag in post.tags %}
                        {{ tag }}
                    {% endfor %}
                </p>
            </div>
        </div>
    {% endfor %}
{% endblock content %}