<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='main.css') }}">

    <!-- Materials.io web icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--uses a custom title if one exists-->
        {% if title %}
            <title>JKerola - {{title}}</title>
        {% else %}
            <title>JKerola - Development, Design, and D&D</title>
        {% endif %}
</head>
<body>
    <!--navbar from boostrap documentation example, customized for personal use-->
    <!--https://getbootstrap.com/docs/4.4/components/navbar/-->
    <div class='container-fluid border navbar-container'>
        <header role='header' class='site-header'>
            <nav class="navbar navbar-expand-xl navbar-light">
                <a title='JKerola.com' class="navbar-brand offset-md-1 col-r-2" href="/"><i class='material-icons face'>face</i>Janne Kerola</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mr-auto nav-item">
                            <a title='Profile' class="nav-link" href="{{ url_for('main.profile') }}">
                                <i class='material-icons face'>accessibility</i>Profile</a>
                            <a title='Blog' class='nav-link' href="{{ url_for('blogging.index') }}">
                                <i class='material-icons face'>rss_feed</i>Blog</a>
                            <a title='Contact' class='nav-link' href="{{ url_for('main.contact') }}">
                                <i class='material-icons face'>email</i>Contact</a>
                    </ul>
                    <ul class='navbar-nav nav-item'>
                        <form title='Search' class="form-inline">
                            <!--search bar disabled for now
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-info my-2 my-sm-0 mr-4" type="submit">Search</button>
                            -->
                        </form>
                        {% if current_user.is_authenticated %}
                            <a class='nav-link' href="{{ url_for('user.account') }}">
                                <i title='Login' class='material-icons face'>account_box</i>Account
                            </a>
                            <a class='nav-link' href="{{ url_for('user.logout') }}">
                                <i title='Login' class='material-icons face'>power_settings_new</i>Log Out
                            </a>
                        {% else %}
                            <a class='nav-link' href="{{ url_for('user.login') }}">
                                <i title='Login' class='material-icons face'>input</i>Login
                            </a>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>
    </div>
    <main role='main' class='container-fluid'>
        <div class='row'>
            <div class='col-md-8 offset-md-2'>
                <!--display flash messages if any present-->
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class='alert alert-{{ category }}'>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </main>
    <!--links to github, linked in and copyright-->
    <footer role='footer' class='container-fluid footer-body'>
        <div class='row'>
            <div class='col-1 mr-auto'></div>
            <div class='col-6 offset-md-1'>
                <a title='Github Profile' href='https://github.com/jkerola'>
                    <img src="{{ url_for('static', filename='images/github.svg') }}"
                        class='img-responsive footer-img mr-4' alt='github logo'></a>
                    <a title='Linked.in Profile' href='#'>
                        <img src="{{ url_for('static', filename='images/linkedin_bug.png') }}"
                            class='footer-img img-responsive' alt='linked.in logo'>
                    </a>
                </div>
                <div class=' col-1 offset-md-1 align-self-end mr-auto help-icons'>
                    <a href='#about' title='About' data-toggle="modal" data-target="#aboutModal">
                        <i class='material-icons footer-icons md-48 md-dark'>help</i></button></a>
                            <!-- Modal -->
                            <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class='about'>About</h3>
                                    <button title='Close' type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body pl-2 pr-2">
                                    <h5 class='about'>What is this site?</h5>
                                    <p class='about'>
                                        This is the personal website and blog of yours truly.
                                    </p>
                                    <h5 class='about'>How did you make it?</h5>
                                    <p class='about'>
                                        This website was built with Flask.<br>
                                        Content made with flask-blogging is stored in an SQLite database using SQLAlchemy.
                                        The frontend is bog-standard HTML and CSS, with styles and minimal javascript from Bootstrap.
                                        Served from a DigitalOcean droplet straight to your browser.
                                        <br><br>
                                        If you have any questions, feel free to 
                                        <a href="{{ url_for('main.contact') }}">message me here!</a>
                                </div>
                                <div class="modal-footer">
                                    <button title='Close' type="button" class="btn btn-outline-info" data-dismiss="modal">Close</button>
                                </div>
                                </div>
                            </div>
                            </div>
                    <!--end modal-->
                    <a title='Report' href="#report">
                        <i class='material-icons footer-icons md-48 md-dark' data-toggle="modal" data-target="#reportModal">feedback</i></a>
                        <!-- Modal -->
                    <div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content about">
                            <div class="modal-header">
                                <h5 class="modal-title" >Report an issue</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        <div class="modal-body">
                                <form method='POST' action="{{ url_for('main.report') }}" name='report'>
                                    {{ report_form.hidden_tag() }}
                                    {{ report_form.csrf_token }}
                                    <div class='form-group'>
                                        {{ report_form.title.label(class='form-control-label')}}
                                        {{ report_form.title(class='form-control')}}
                                    </div>
                                    <div class='form-group'>
                                        {{ report_form.email.label(class='form-control-label')}}
                                        {{ report_form.email(class='form-control')}}
                                    </div>
                                    <div class='form-group'>
                                        {{ report_form.content.label(class='form-control-label')}}
                                        {{ report_form.content(class='form-control')}}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        {{ report_form.submit(class='btn btn-primary')}}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--end modal-->
                </div>
            </div>
            <p class='copyright-text col-md-12 h-25 mt-3'>
                Copyright &#169; Janne Kerola 2020
            </p>
        </div>
    </footer>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        </body
        >
        </html>
