{% extends 'layout.html' %}
{% block banner %}
    <img class='banner-img' src="{{ url_for('static', filename='images/home_banner.jpg') }}">
{% endblock banner %}
{% block content %}
<div class='content-section'>
    <form method='POST' action='#' name='login'>
        <fieldset class='form-group'>
            {{ login_form.hidden_tag() }}
            {{ login_form.crsf_token }}
            <div title='User' class='form-group'>
                {{ login_form.username.label(class='form-control-label')}}
                {{ login_form.username(class='form-control')}}
            </div>
            <div title='Password' class='form-group'>
                {{ login_form.password.label(class='form-control-label')}}
                {{ login_form.password(class='form-control')}}
            </div>
        </fieldset>
        <div title='Login' class='form-group'>
            {{ login_form.submit(class='btn btn-primary') }}
        </div>
    </form>
</div>
<div style='height: 100vh;'></div>
{% endblock content %}