{% extends 'layout.html' %}
{% block banner %}
<img class='banner-img' src="{{ url_for('static', filename='images/home_banner.jpg') }}">
{% endblock banner %}
{% block content %}
<div class='container-fluid'>
<d iv class='row'>
        <div class='col-md-8 small-screen'>
            <div class='content-section'>
                <div class='profile-title'>
                    <h2>About Janne Kerola</h2>
                </div>
                <div class='mt-3'>
                    <div>
                        <i title='Overview' class='material-icons profile-icon'>accessibility</i>
                    </div>
                    <div class='profile-text col-md-auto'>
                        Currently, I'm a CSE student at the university of Oulu
                        and I'm interested in developing <b>web applications</b> and <b>websites</b>. I'm looking for opportunities
                        to learn more about various related technologies and build a career while growing as a developer.
                    </div>
                </div>
                <div title='Education' class='mt-3'>
                    <div>
                        <i class='material-icons profile-icon'>school</i>
                    </div>
                    <div class='profile-text col-md-auto'>
                        As a CSE student I've completed various courses on designing, documenting and developing
                        different projects. I've also taken many courses on mechanical engineering, having previously studied
                        the subject at the same university. 
                    </div>
                </div>
                <div title='Skills' class='mt-3'>
                    <div>
                        <i class='material-icons profile-icon'>code</i>
                    </div>
                    <div class='profile-text col-md-auto'>
                        University courses gave me the basics and the rest I've picked up myself over the years. I've got experience in 
                        <b>Python, Java</b> and a small mixture of other languages. I know how to operate a basic <b>Linux</b> server through the terminal shell
                        and how to troubleshoot most issues by searching through the documentation and other sources
                        on the internet.
                    </div>
                </div>
                <div title='Work Experience' class='mt-3'>
                    <div>
                        <i class='material-icons profile-icon'>thumb_up</i>
                    </div>
                    <div class='profile-text col-md-auto'>
                        Between 2012 and 2020 I've worked in public park and roadside maintenance, cold storage as well as a moving handyman.
                        I've had opportunities to prove myself as a  player and outperform my own expectations
                        in more solitary environments. I take pride in being a smart and diligent worker. 
                    </div>
                </div>
                <div title='Social' class='mb-3 mt-3'>
                    <div>
                        <i class='material-icons profile-icon'>people</i>
                    </div>
                    <div class='profile-text col-md-auto'>
                        You can <b>contact me</b> <a title='Contact me' href="{{ url_for('main.contact') }}">here.</a> You can also find me on the following: <br><br>
                        <div class='offset-md-3 col-auto ta-right'>
                            <a class='profile-social-img' title='GitHub Profile'href='https://github.com/jkerola/'>
                                <img src="{{ url_for('static', filename='images/github_profile.png') }}"></a>
                            <a class='ta-rigth profile-social-img' title='Linked.in Profile' href='https://www.linkedin.com/in/janne-kerola-219b1a1a0'>
                                <img src="{{ url_for('static', filename='images/linkedin_profile.png') }}"></a>
                                <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-md-4'>
            <img class='profile-img img-responsive' src="{{ url_for('static', filename='images/profile_image.jpg') }}"
                alt='Profile Picture'>
        </div>
    </div>  

        <div class='content-section col-md-auto portfolio-container'>
            <h3 class='portfolio-title'>Portfolio</h3>
            <a href="{{ url_for('post.find_post', post_id=4) }}" title='Personal Website'>
                <img class='img-fluid portfolio-img' src="{{ url_for('static', filename='images/personal_site.png') }}">
            </a> 
            <a href="{{ url_for('post.find_post', post_id=3) }}" title='Flaskblog project'>
                <img class='img-fluid portfolio-img' src="{{ url_for('static', filename='images/flaskblog.png') }}">
            </a>
            <!-- not needed anymore, placeholder
                <a href='#' title='To be determined...'>
                    <img class='img-fluid portfolio-img' src="{{ url_for('static', filename='images/tbd.png') }}">
                </a>
            -->
        </div>
    </div>
</div>
<div style='height:30vh;'></div>
{% endblock content %}