{% extends 'layout.html' %}
{% block content %}
    {% for post in posts.items %}
    <div class='content-section'>
        <div class='article row'>
            <div class='col-8 align-self-center mr-auto'>
                <a href="{{ url_for('post.find_post', post_id=post.id) }}">
                    <h3 class='article-title'>{{ post.title }}</h3>
                </a>
            </div>
            <div class='text-right col-md-auto'>
                <p class='article-author mt-2'>{{ post.email }}</p>
                <p class='article-date text-muted'>{{ post.date_posted.strftime('%b %d, %Y %H:%M')}}</p>
            </div>
        </div>
        <div class='article-content'>
            {{ post.content }}
        </div>
    </div>
    {% endfor %}
    {% for page_num in posts.iter_pages(left_edge= 1, left_current=1, right_current=2) %}
        {% if page_num %}
            <a class='btn btn-info mb-4' href="{{ url_for('post.reports', page=page_num) }}">{{ page_num }}</a>
        {% else %}
            <a class='btn btn-outline-info mb-4' href="{{ url_for('post.reports', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
    {% endfor %}
{% endblock content %}